{% extends "base.html" %}

{% block title %}
Profile - Ornamenti.ge
{% endblock %}

{% block body %}
<div class="row justify-content-center">
    <div class="col-lg-8">
        <div class="card bg-black border border-secondary shadow-lg text-center p-5">
            <i class="bi bi-person-circle fs-1" style="color: #4a90e2;"></i>
            <h2 class="mt-4 fw-bold">{{ user.username }}</h2>
            <p class="text-secondary">Profile page coming soon...</p>
        </div>
    </div>
</div>
{% endblock %}